body {
  padding: 0 10px;
  background-color: #ddd;
}

polygon {
  fill: #4BB06A;
}

.header {
  width: 100%;
}

.wheel {
  position: absolute;
  width: 68%;
  bottom: 0;
  top: 0;
  margin: 95px 0px 40px 13px;
}

ul.principals {
  list-style: none;
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  left: 0;
}

.principals li {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 9px 5px;
  background-color: #4BB06A;
  border-radius: 5px;
  border-color: white;
}

.content {
  width: 70%;
  float: left;
}

.details {
  width: 30%;
  height: 100%;
  float: right;
  padding-right: 10px;
  display: inline-block;
}

.arc path {
  stroke: #fff;
}

.curve-text {
  font: 12px sans-serif;
}

.curve-line {
  stroke: #999;
  fill: none;
}