body {
  padding: 0 10px;
  background-color: #ddd;
}

polygon {
  fill: #4BB06A;
}

.header {
  width: 100%;
}

.wheel {
  position: absolute;
  width: 68%;
  bottom: 0;
  top: 0;
  margin: 50px 0px 20px 13px;
}

.content {
  width: 70%;
  float: left;
}

.details {
  width: 30%;
  height: 100%;
  float: right;
  padding-right: 10px;
  display: inline-block;
}

.arc path {
  stroke: #fff;
}

.curve-text {
  font: 12px sans-serif;
}

.curve-line {
  stroke: #999;
  fill: none;
}